/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

$primary: #425563;
/*$primary: #000000;*/
$teal: #008C95;
$secondary: $teal;
$green: #7A9A01;
$orange: #E57200;
$yellow: #FFB25B;
$purple: #93328E;
$cyan: #0099e6;
$hr-border-color: $primary;
$headings-color: $primary;
$link-color: $secondary;
$font-family-sans-serif: "Open Sans", Helvetica, Arial;
$font-weight-normal: 300;
$font-weight-light: 200;
$headings-font-weight: 300;
$headings-font-family: $font-family-sans-serif;
$body-color: #000000;;
$table-accent-bg: rgba($primary, .4);

/*-- scss:rules --*/

/* Example of a note class
:::{.note}
**Note**: This is a note.
:::
*/
.note {
    background-color: rgba($primary, .2); 
    border: 1px solid $primary; // Use the primary color as the border
    padding: 10px 10px 2px 10px;
    border-radius: 5px;
    color: $body-color; // Use the body color for the text
    font-family: $font-family-sans-serif;
    font-size: 0.8em;
    margin: 20px 0 40px 0;
}
